body{
    margin:0px;
    font-family:montserrat;
}
header{
    background-color: black;
    width:100%;
    margin:0 auto;
    position:fixed;
    top:0px;
}
nav{
    overflow: hidden;
}
nav ul{
    display: flex;
    justify-content: start;
}

nav ul li{
    padding:30px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}.signup{
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 10px;
}

li a:hover {
    background-color:grey;
    padding:10px;
  }

.title1{
    background-color: black;
    width: 100%;
    position: relative;
    margin:100px auto;
    line-height: 25px;
    display:flex;
    margin-bottom: 10px;
    z-index:-1;
}

.title2{
    color:white;
    font-family: Helvetica;
    padding-top:4px;
}

.title2 h1{
    font-size: 30px;
    margin: 10px 20px;
    padding:0 auto;
}

.title2 p{
    font-size: 14px;
    margin:20px 20px;
}

.title nav{
    margin: 10px auto;

}

.title2 nav a{
    background-color: red;
    color: white;
    text-decoration: none;
    margin:10px 20px;
    padding:4px;
    border-radius:10px;   
}

.search{
    margin: 20px;
    position: relative;

    padding: 20px;
    margin:20px;
    z-index:-1;
    
} 

form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    color:black;
    border: 1px solid grey;
    width: 70%;
    background: #f1f1f1;
    z-index:-1;

}
  
  form.example button {
    width: 20%;
    padding: 5px;
    color: black;
    font-size:17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
.intro{
    width: 100%;
    position: relative;
    margin:0px 20px;
    line-height: 25px;
    z-index:-1;
}

.about-us{
    position:relative;
    float: right;
    padding: 20px;
    font-size: 65px;
    color: grey;
    font-weight: 1000;
    margin:0px 25px;
    z-index: -1;
}

.vision{
    position: relative;
    top:110px;
    line-height: 25px;
    width: 100%;
    margin:0px 20px;
    z-index: -1;
}

.mission
{
    position: relative;
    top:110px;
    line-height: 25px;
    width: 100%;
    margin:0px 20px;
    z-index: -1;
    
}

.mission p{
    position: relative;
}

.services{
    position: relative;
    top:100px;
    padding: 20px;

    font-size: 65px;
    color: grey;
    font-weight: 1000;
    margin:0px 15px; 
    z-index: -1;
}

.solar{
    position: relative;
    top:110px;
    line-height: 25px;
    width: 100%;
    margin:0px 20px;
    z-index: -1;
}

.EPC{
    position: relative;
    top:110px;
    line-height: 25px;
    width: 100%;
    margin:0px 20px;
    z-index: -1;
}

.equip
{
    position: relative;
    top:110px;
    line-height: 25px;
    width: 100%;
    margin:0px 20px;
    z-index: -1;
}

.energy{
    position: relative;
    top:110px;
    line-height: 25px;
    width: 100%;
    margin:0px 20px;
    z-index: -1;
}

footer{
    bottom: 0px;
    margin: 0px auto;
    background-color: black;
    display:flex;
    justify-content: space-around;
    width:100%;
    line-height: 10px;

}

footer h3{
    color:brown;
}

footer p{
    color:white;
    font-size: 12px;
}

footer nav{
    display: flex;
}

footer nav li{
    padding:5px;
    margin: 0 auto;
    width: 12px;
    top:2px;
    list-style-type: none;
}
footer nav li a{
    

}
